<div id="carousel-wrapper" class="row">
<div id="homeCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <% for(var i=0; i<page.carouselImages.length; i++) {%>
           <li data-target="#homeCarousel" 
               data-slide-to="<%= i %>" 
               class="<% if(i==2) { %> active<%}%>"
               ></li>
        <% } %>
      </ol>
      <div class="carousel-inner">
        <% for(var i=0; i<page.carouselImages.length; i++) {%>
          <div class="item<% if(i==2) { %> active<%}%>">
            <img src="<%= page.carouselImages[i].url %>" alt="<%= page.carouselImages[i].alt %>">
            <div class="container">
              <div class="carousel-caption">
                <%= page.carouselImages[i].caption %>
              </div>
            </div>
          </div>
        <% } %>
      </div>
      <a class="left carousel-control" href="#homeCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#homeCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
</div>
  <div class="row info">
    <% for(var j=0; j<page.panels.length; j++) {%>
  	<div class="col-md-4"><div class="panel panel-info">
  		<div class="panel-heading">
        <h1><%= page.panels[j].title %></h1>
      </div>
      <div class="panel-body">
    		<%= page.panels[j].body %>
    </div>
  </div></div>
    <%}%>
  </div>